name: OPA Gatekeeper

on:
  push:
    branches:
      - test

jobs1:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Start minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
          minikube start

      - name: Configure kubectl
        run: |
          minikube kubectl -- get pods --all-namespaces

      - name: List Pods
        run: |
          minikube kubectl -- get pods



     


      
          

      





