name: Minikube Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Start minikube
        uses: medyagh/setup-minikube@master

      - name: List Pods
        run: |
          minikube kubectl -- get pods


      




     


      
          

      





