name: OPA Gatekeeper Policies

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Check out code
        uses: actions/checkout@v2
        with:
          ref: test

      - name: Set up kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-transport-https ca-certificates curl
          sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
          echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
          sudo apt-get update
          sudo apt-get install -y kubectl

      - name: Apply Kubernetes templates
        run: |
          kubectl apply -f Templates/

      - name: Apply Kubernetes constraints
        run: |
          kubectl apply -f Constraints/

      - name: Test policies
        run: |
          kubectl get pods --all-namespaces
          kubectl get deployments --all-namespaces

      - name: Cleanup
        run: |
          kubectl delete -f Templates/
          kubectl delete -f Constraints/




