name: OPA Gatekeeper

on:
  push:
    branches:
      - test

jobs:
  setup-minikube:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Minikube
        uses: medyagh/setup-minikube@master


      - name: Configure kubectl
        run: |
          minikube kubectl -- get pods --all-namespaces

  install-opa:
    needs: setup-minikube
    runs-on: ubuntu-latest

    steps:
      - name: Debug Cluster Connectivity
        run: |
          kubectl cluster-info
          kubectl get nodes

      - name: Install OPA Gatekeeper 
        run: |
          helm repo add gatekeeper https://open-policy-agent.github.io/gatekeeper/charts
          helm install gatekeeper/gatekeeper --name-template=gatekeeper --namespace gatekeeper-system --create-namespace

     
          


