name: OPA Gatekeeper Policies

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Apply Kubernetes templates
        run: |
          kubectl apply -f Templates/

      - name: Apply Kubernetes constraints
        run: |
          kubectl apply -f Constraints/

      - name: Test policies
        run: |
          kubectl get pods --all-namespaces
          kubectl get deployments --all-namespaces

      - name: Cleanup
        run: |
          kubectl delete -f Templates/
          kubectl delete -f Constraints/

